@page "/builder"
@using DesignPatterns.Shared.Patterns.Builder;



<h3>Builder</h3>

<button class="btn btn-primary" @onclick=BuildProductWithoutPrice>Build Product Without Price</button>
<button class="btn btn-primary" @onclick=BuildProductWithPrice>Build Product With Price</button>

@if(product is not null) {
    <p>@product.ToString()</p>
}

@code {
    public Product product { get; set; }

    void BuildProductWithoutPrice() {
        ProductBuilder builder = new ProductBuilder();

        product = builder
                    .IncludeName()
                    .IncludeDescription()
                    .Build();
    }

    void BuildProductWithPrice() {
        ProductBuilder builder = new ProductBuilder();

        product = builder
                    .IncludeName()
                    .IncludeDescription()
                    .IncludePrice()
                    .Build();
    }
}
