@page "/builder"



<h3>Builder</h3>

<button class="btn btn-primary" @onclick=BuildProductA>Build Product A</button>
<button class="btn btn-primary" @onclick=BuildProductB>Build Product B</button>

@code {
    void BuildProductA() {

    }

    void BuildProductB() {
        
    }
}
